:root {
  --h-bg: #fff;
  --h-scrollbar: #eee;
  --h-scrollbar-hover: #ddd;
  --header-height: 4.5rem;
}

html {
  background-color: var(--h-bg);
}

html.dark {
  --h-bg: #121212;
  --h-scrollbar: #333;
  --h-scrollbar-hover: #444;
}

html {
  overflow-y: scroll;
}

* {
  scrollbar-color: var(--h-scrollbar) var(--h-bg);
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar:horizontal {
  height: 6px;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
  background: var(--h-bg);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--h-scrollbar);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--h-scrollbar-hover);
}
