:root {
  --h-bg: #fff;
  --h-scrollbar: #eee;
  --h-scrollbar-hover: #ddd;
  --h-nprogress-bg: #233;
}

html {
  background-color: var(--h-bg);
}

html.dark {
  --h-bg: #121212;
  --h-scrollbar: #333;
  --h-scrollbar-hover: #444;
  --h-nprogress-bg: #fff;
}

html {
  overflow-y: scroll;
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: var(--h-nprogress-bg);
  opacity: 0.75;
  position: fixed;
  z-index: 1006;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}

* {
  scrollbar-color: var(--h-scrollbar) var(--h-bg);
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar:horizontal {
  height: 6px;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
  background: var(--h-bg);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--h-scrollbar);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--h-scrollbar-hover);
}
